
configuration {
  modi: "window,run,ssh,drun,combi,web_search:/home/fernando/.config/rofi/scripts/rofi-web-search.sh";
  show-icons: true;
  icon-theme: "Flatery-Indigo-Dark";
}

@theme "themes/apps-launcher"
