* {
  bg: #181825;
  bg-alt: #11111b;
  fg: #cdd6f4;
  fg-alt: #585b70;
  selected: #89b4fa;
  icon-font: "JetBrainsMonoNL 20";

  font: "JetBrainsMonoNL Bold 10";
  text-color: @fg;
  background-color: @bg;
}
